<template>
    <v-card class="mx-auto">
      <v-toolbar class="elevation-1">
        <v-icon>mdi-calendar-edit</v-icon>
        <div class="mx-2"></div>
        <v-toolbar-title>Event</v-toolbar-title>
        <v-spacer></v-spacer>
        <v-btn icon @click="doSave()"><v-icon>mdi-content-save</v-icon></v-btn>
      </v-toolbar>
      <v-card-text>
        <v-container>
          <v-row>
            <v-col class="pl-0 pt-0 pb-0 pr-2" cols="6">
              <v-text-field v-model="itemToEdit.id"   label="Id"  required></v-text-field>
            </v-col>
            <v-col class="pa-0" cols="6">
              <v-text-field v-model="itemToEdit.organizer"   label="organizer"  required></v-text-field>
            </v-col>
            <v-col class="pa-0" cols="6">
              <v-text-field v-model="itemToEdit.dateStart"   label="Datum"  required></v-text-field>
            </v-col>
            <v-col class="pt-0 pb-0 pl-2 pr-0" cols="6">
              <v-text-field v-model="itemToEdit.timeStart"   label="Uhrzeit Begin"  required></v-text-field>
            </v-col>
            <v-col class="pa-0" cols="12">
              <v-text-field v-model="itemToEdit.title"   label="Title"  required></v-text-field>
            </v-col>
            <v-col class="pa-0" cols="12">
              <v-text-field v-model="itemToEdit.markdownUrl"   label="Markdown"  required></v-text-field>
            </v-col>
          </v-row>
        </v-container>
      </v-card-text>
    </v-card>

</template>

<script  lang='ts'>
import { Prop, Vue } from 'vue-property-decorator';
import Component from 'vue-class-component';
// @ts-ignore
import OgvEvent from '@/store/page/ogvevent';
import axios from 'axios';
import { PAGE_API_URL } from '@/store/page.module';
import OgvPlace from '@/store/page/ogvplace';

@Component({ name: 'OgvEventEdit' })
export default class OgvEventEdit extends Vue {

  @Prop({ default: null }) itemId: number | null | undefined;
  @Prop({ default: null }) createNew: boolean | null | undefined;

  itemToEdit: OgvEvent| null = {} as OgvEvent;

  mounted (): void {

    if (this.createNew) {
      this.itemToEdit = {
        dateStart: '',
        id: '',
        imageSrc: '',
        markdownUrl: '',
        organizer: 'OGV',
        place: null,
        timeStart: '',
        title: ''
      };
    } else {
      axios.get(PAGE_API_URL + 'ogvevent' + '/' + this.itemId, { timeout: 1500 })
        .then(response => {
          if (response.data) {
            this.itemToEdit = response.data;
          }
        }).catch(error => {
          this.convertError(error);
          throw error;
        }).catch(error => {
          this.$emit('ogv-notification', 'Fehler beim Lesen von OGV Event mit id' + this.itemId + ': ' + error.message);
        });
    }
  }

  doSave () {

    if (this.createNew) {
      axios.post(PAGE_API_URL + 'ogvevent', this.itemToEdit, { timeout: 1500 }).then(response => {
        if (response.data) {
          this.itemToEdit = response.data;
        }
      }).catch(error => {
        this.convertError(error);
        throw error;
      }).catch(error => {
        this.$emit('ogv-notification', 'Fehler beim Erzeungen des OGV Event: ' + error.message);
      });
    } else {
      axios.put(PAGE_API_URL + 'ogvevent', this.itemToEdit, { timeout: 1500 }).then(response => {
        if (response.data) {
          this.itemToEdit = response.data;
        }
      }).catch(error => {
        this.convertError(error);
        throw error;
      }).catch(error => {
        this.$emit('ogv-notification', 'Fehler beim Erzeungen des OGV Event: ' + error.message);
      });

    }
  }

  private convertError (errorToConvert: Error) {

    // @ts-ignore
    if (errorToConvert && errorToConvert.response && errorToConvert.response.data && errorToConvert.response.data.message) {

      // @ts-ignore
      errorToConvert.message = errorToConvert.response.data.message;
    }
  }
};
</script>
