<template>
    <v-card class="mx-auto">
      <v-toolbar class="elevation-1">
        <v-icon>mdi-calendar-blank-multiple</v-icon>
        <div class="mx-2"></div>
        <v-toolbar-title>Events</v-toolbar-title>
        <v-spacer></v-spacer>
        <v-btn icon :to="{ name: 'ogvevent', params: { eventId: newObjectParameter }}"><v-icon>mdi-plus-thick</v-icon></v-btn>
      </v-toolbar>
      <v-list>
        <v-list-item  v-for="(event) in allEvents" :key="event.id">
          <v-list-item-content>
            <v-list-item-title><router-link :to="{ name: 'ogvevent', params: { eventId: event.id }}">{{event.dateStart}}</router-link></v-list-item-title>
              <v-list-item-subtitle>{{event.title}}</v-list-item-subtitle>
          </v-list-item-content>
          <v-list-item-icon>
            <v-btn icon @click.stop="doODeleteEvent(event.id)"><v-icon>mdi-trash-can-outline</v-icon></v-btn>
            <v-icon>mdi-content-duplicate</v-icon>
          </v-list-item-icon>
        </v-list-item>
      </v-list>

      <v-dialog v-model="showDeleteDialog" max-width="290">
        <v-card>
          <v-card-title class="headline">OGV Event löschen?</v-card-title>
          <v-card-text>
            Event wirklich löschen?
          </v-card-text>
          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn color="green darken-1" text @click="doODeleteAgree()">Löschen</v-btn>
            <v-btn color="green darken-1" text @click="showDeleteDialog = false">Abbrechen</v-btn>
          </v-card-actions>
        </v-card>
      </v-dialog>
    </v-card>

</template>

<script  lang='ts'>
import { Vue } from 'vue-property-decorator';
import Component from 'vue-class-component';
import { PARA_NEW_OBJECT } from '@/router';
import axios from 'axios';
import { PAGE_API_URL } from '@/store/page.module';

@Component({ name: 'OgvImages' })
export default class OgvImages extends Vue {

  showDeleteDialog: boolean = false;
  imageIdToDelete: number | null = null;

  get allEvents () {
    return this.$store.state.page.events;
  }

  get newObjectParameter () {
    return PARA_NEW_OBJECT;
  }

  doODeleteEvent (eventId: number) {
    this.imageIdToDelete = eventId;
    this.showDeleteDialog = true;
  }

  doODeleteAgree () {

    axios.delete(PAGE_API_URL + 'ogvimage' + '/' + this.imageIdToDelete, { timeout: 1500 })
      .then(response => {
        this.$emit('ogv-notification', 'OGV Image gelöscht mit id ' + this.imageIdToDelete);
        this.imageIdToDelete = null;
      }).catch(error => {
        this.$emit('ogv-notification', 'Fehler beim Löschen von OGV Image mit id ' + this.imageIdToDelete + ' : ' + error.message);
      });
    this.showDeleteDialog = false;
  }

  mounted (): void {
    this.$store.dispatch('page/loadAllImages')
      .catch((error) =>
        this.$emit('ogv-notification', 'Fehler beim Laden der Ogv Images: ' + error.message)
      );
  }
};
</script>
