<template>
  <v-card class="mx-auto">
    <v-toolbar class="elevation-1">
      <v-icon>mdi-calendar-blank-multiple</v-icon>
      <div class="mx-2"></div>
      <v-toolbar-title>News</v-toolbar-title>
      <v-spacer></v-spacer>
      <v-btn icon :to="{ name: 'ogvevent', params: { itemId: newObjectParameter }}"><v-icon>mdi-plus-thick</v-icon></v-btn>
    </v-toolbar>
    <v-list>
      <v-list-item  v-for="(item) in holderItems" :key="item.id">
        <v-list-item-content>
          <v-list-item-title><router-link :to="{ name: 'ogvevent', params: { itemId: item.id }}">{{item.subject}}</router-link></v-list-item-title>
          <v-list-item-subtitle>{{item.title}}</v-list-item-subtitle>
        </v-list-item-content>
        <v-list-item-icon>
          <v-btn icon @click.stop="doDeleteItem(item)"><v-icon>mdi-trash-can-outline</v-icon></v-btn>
          <v-icon>mdi-content-duplicate</v-icon>
        </v-list-item-icon>
      </v-list-item>
    </v-list>

    <v-dialog v-model="showDeleteDialog" max-width="290">
      <v-card>
        <v-card-title class="headline">{{typeName}} löschen?</v-card-title>
        <v-card-text>
          {{typeName}} wirklich löschen?
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="green darken-1" text @click="doODeleteAgree()">Löschen</v-btn>
          <v-btn color="green darken-1" text @click="showDeleteDialog = false">Abbrechen</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-card>

</template>

<script  lang='ts'>

import {
  JdyObjectReader,
  JsonHttpObjectReader, JsonHttpObjectWriter
} from '@jdynameta/jdy-http';
import {
  JdyClassInfo,
  JdyClassInfoQuery, JdyTypedValueObject
} from '@jdynameta/jdy-base';
import Component from 'vue-class-component';
import { Prop, Vue, Watch } from 'vue-property-decorator';
import { convertHolderToJdyQuery, OperatorExprHolder, findDateAttrs } from '@/store/jdy-view';
import { PARA_NEW_OBJECT } from '@/router';

@Component({
  name: 'OgvNews',
  components: {
  }
})
export default class OgvNews extends Vue {

  itemToDelete: any | null = null;
  showDeleteDialog: boolean = false;
  readonly undefinedData = [];
  classInfo: JdyClassInfo | null = null;
  reader : JdyObjectReader = new JsonHttpObjectReader('/api/page/jdy/');
  writer = new JsonHttpObjectWriter('/api/page/jdy/');

  filterExpressions: OperatorExprHolder[] = [];
  holderItems: any | null | undefined = this.undefinedData;
  showMessage = false;
  errorMessage = '';
  isEditDialogVisible = false;

  reloadFilteredData () {
    if (this.classInfo) {

      const andExpr = convertHolderToJdyQuery(this.filterExpressions);
      const query = new JdyClassInfoQuery(this.classInfo, andExpr, []);

      this.reader.loadValuesFromDb(query)
        .then(data => {
          this.holderItems = data;
          return null;
        })
        .catch(error => {

          this.holderItems = this.undefinedData;
          this.errorMessage = error.message;
          this.showMessage = true;
        });
    } else {

      this.holderItems = this.undefinedData;
    }
  }

  get typeName () {
    return (this.classInfo) ? this.classInfo.getInternalName() : '';
  }

  doODeleteAgree () {

    this.writer.deleteObjectInDb(this.itemToDelete
      , result => {
        this.$emit('ogv-notification', 'OGV Event gelöscht mit id ' + this.itemToDelete);
        this.holderItems.splice(this.holderItems.findIndex(x => x.id === this.itemToDelete.id), 1);
      }
      , error => {
        this.$emit('ogv-notification', error.message);
      });

    this.showDeleteDialog = false;
  }

  doDeleteItem (anItemToDelete: any) {
    this.itemToDelete = anItemToDelete;
    this.showDeleteDialog = true;
  }

  get newObjectParameter () {
    return PARA_NEW_OBJECT;
  }

  mounted (): void {
    this.classInfo = this.$store.state.jdy.metaData.repo.getClassInfo('OgvNews');
    this.reloadFilteredData();
  }

  close () {
  }
}
</script>
