<template>
  <v-container class="fill-height"  fluid>
    <v-row align="center" justify="center">
      <v-col cols="12" sm="8" md="6">
        <v-card shaped class="px-4">
          <v-list-item >
            <v-list-item-content>
              <v-list-item-title class="headline mb-1">Login</v-list-item-title>
            </v-list-item-content>

            <v-list-item-avatar tile size="80" ><v-icon large>mdi-account</v-icon></v-list-item-avatar>
          </v-list-item>
           <v-card-text>
              <v-form ref="loginForm" v-model="loginValid" lazy-validation>
                  <v-text-field v-model="loginEmail" :rules="loginEmailRules" label="E-mail" required></v-text-field>
                  <v-text-field v-model="loginPassword" :append-icon="showPassword?'eye':'eye-off'" :rules="[rules.required, rules.min]" :type="showPassword ? 'text' : 'password'" name="input-10-1" label="Password" hint="At least 8 characters" counter @click:append="showPassword = !showPassword"></v-text-field>
                  <v-btn text small @click="gotoRequestPassword">Passwort vergessen?<v-icon right dark>mdi-account-alert</v-icon></v-btn>
                  <div class="pt-3 pb-3 mb-3 pl-3 red accent-1" v-show="loginErrorMessage.length > 0">{{loginErrorMessage}}</div>
              </v-form>
            </v-card-text>
          <v-card-actions>
            <v-btn :disabled="!loginValid" color="success" @click="doLogin"> Login </v-btn>
            <v-spacer/>
            <v-btn text small @click="gotoRegister">Hier Registrieren<v-icon right dark>mdi-account-outline</v-icon></v-btn>
          </v-card-actions>
          </v-card>
      </v-col>
    </v-row>
  </v-container>

</template>

<script  lang='ts'>

import { Prop, Vue } from 'vue-property-decorator';
import Component from 'vue-class-component';
import axios from 'axios';
import { SignupRequest } from '@/services/auth.service';

@Component({
  name: 'OgvLoginDialog',
  components: {

  }
})
export default class OgvLoginDialog extends Vue {

  loginErrorMessage= '';
  loginValid= true;
  loginPassword= '';
  loginEmail= '';
  loginEmailRules= [
    (v :any) => !!v || 'Required',
    (v :any) => /.+@.+\..+/.test(v) || 'E-mail must be valid'
  ];

  showPassword= false;
  rules= {
    required: (value :any) => !!value || 'Required.',
    min: (v :any) => (v && v.length >= 8) || 'Min 8 characters'
  };

  gotoRegister () {
    this.$router.push('/register');
  }

  gotoRequestPassword () {
    this.$router.push('/requestPassword');
  }

  doLogin () {
    // @ts-ignore
    if (this.$refs.loginForm.validate()) {
      this.$store.dispatch('auth/login', { email: this.loginEmail, password: this.loginPassword }).then(
        () => {
          this.$emit('ogv-notification', 'Login erfolgreich');
          this.$router.push('/profile');
        },
        () => {
          this.$emit('ogv-notification', 'Login Fehler');
          this.loginErrorMessage = 'Fehler beim login';
        }
      );
    }
  }

};
</script>
