<template>
  <v-container class="fill-height"  fluid>
    <v-row align="center" justify="center">
      <v-col cols="12" sm="8" md="6">
        <v-card shaped class="px-4">
          <v-list-item >
            <v-list-item-content>
              <v-list-item-title class="headline mb-1">Profil</v-list-item-title>
            </v-list-item-content>

            <v-list-item-avatar tile size="80" ><v-icon large>mdi-account-outline</v-icon></v-list-item-avatar>
          </v-list-item>
            <v-card-text>
              <v-form ref="registerForm" lazy-validation>
                  <v-text-field v-model="currentUser.username" label="Username" readonly outlined shaped></v-text-field>
                  <v-text-field v-model="currentUser.id"  label="Id" readonly></v-text-field>
                  <v-text-field v-model="currentUser.email" label="E-mail" readonly></v-text-field>
                  <v-text-field v-model="accessToken" label="Token" readonly></v-text-field>
                  <ul>
                    <li v-for="(role,index) in currentUser.roles" :key="index">{{role}}</li>
                  </ul>
              </v-form>
            </v-card-text>
          </v-card>
      </v-col>
    </v-row>
  </v-container>
</template>

<script  lang='ts'>
import { Vue } from 'vue-property-decorator';
import Component from 'vue-class-component';

@Component({ name: 'OgvProfil' })
export default class OgvProfil extends Vue {

  get currentUser () {
    return this.$store.state.auth.user;
  }

  get accessToken () {
    return this.currentUser.accessToken.substring(0, 20) + '...' +
            this.currentUser.accessToken.substr(this.currentUser.accessToken.length - 20);
  }

  mounted (): void {
    if (!this.currentUser) {
      this.$router.push('/login');
    }
  }
};
</script>
