<template>
  <v-container class="fill-height"  fluid>
    <v-row align="center" justify="center">
      <v-col cols="12" sm="8" md="6">
        <v-card shaped class="px-4">
          <v-list-item >
            <v-list-item-content>
              <v-list-item-title class="headline mb-1">Register</v-list-item-title>
            </v-list-item-content>

            <v-list-item-avatar tile size="80" ><v-icon large>mdi-account-outline</v-icon></v-list-item-avatar>
          </v-list-item>
            <v-card-text>
              <v-form ref="registerForm" v-model="registerValid" lazy-validation>
                  <v-text-field v-model="firstName" :rules="[rules.required]" label="First Name" maxlength="20" required></v-text-field>
                  <v-text-field v-model="lastName" :rules="[rules.required]" label="Last Name" maxlength="20" required></v-text-field>
                  <v-text-field v-model="email" :rules="emailRules" label="E-mail" required></v-text-field>
                  <v-text-field v-model="password" :append-icon="showPassword ? 'mdi-eye' : 'mdi-eye-off'" :rules="[rules.required, rules.min]" :type="showPassword ? 'text' : 'password'" name="input-10-1" label="Password" hint="At least 8 characters" counter @click:append="showPassword = !showPassword"></v-text-field>
                  <v-text-field v-model="verify" :append-icon="showVerify ? 'mdi-eye' : 'mdi-eye-off'" :rules="[rules.required, passwordMatch]" :type="showVerify ? 'text' : 'password'" name="input-10-1" label="Confirm Password" counter @click:append="showVerify = !showVerify"></v-text-field>
                  <div class="pt-3 pb-3 mb-3 pl-3 red accent-1" v-show="registerErrorMessage.length > 0">{{registerErrorMessage}}</div>
              </v-form>
            </v-card-text>
            <v-card-actions>
              <v-btn class="mr-4" :disabled="!registerValid" color="success" @click="doRegister">Register</v-btn>
            </v-card-actions>
          </v-card>
      </v-col>
    </v-row>
  </v-container>
</template>

<script  lang='ts'>
import { Prop, Vue } from 'vue-property-decorator';
import Component from 'vue-class-component';
import axios from 'axios';
import { SignupRequest } from '@/services/auth.service';

@Component({ name: 'OgvRegister' })
export default class OgvRegister extends Vue {

  registerErrorMessage= '';
  registerValid=true;
  firstName= '';
  lastName= '';
  email= '';
  password= '';
  verify= '';

  emailRules= [
    (v :any) => !!v || 'Required',
    (v :any) => /.+@.+\..+/.test(v) || 'E-mail must be valid'
  ];

  showPassword= false;
  showVerify= false;
  rules= {
    required: (value :any) => !!value || 'Required.',
    min: (v :any) => (v && v.length >= 8) || 'Min 8 characters'
  };

  get passwordMatch () {
    return () => this.password === this.verify || 'Password must match';
  }

  doRegister () {
    // @ts-ignore
    if (this.$refs.registerForm.validate()) {
      this.register({ nachname: this.lastName, email: this.email, password: this.password });
    }
  }

  register (request: SignupRequest): void {

    const requestObj = Object.assign({}, request);
    axios.post('api/auth/' + 'signup', requestObj)
      .then(data => {
        this.$emit('ogv-notification', 'Registrierung erfolgreich');
        this.$router.push('/');
      })
      .catch(error => {
        if (error.response) {
          if (error.response.data) {
            if (error.response.data.message) {
              this.registerErrorMessage = error.response.data.message;
            } else {
              this.registerErrorMessage = error.response.data;
            }
          } else {
            this.registerErrorMessage = error.response;
          }
        } else {
          this.registerErrorMessage = error;
        }
        this.$emit('ogv-notification', 'Registrierung fehlgeschlagen');
      });
  }

};
</script>
