<template>

  <v-container class="fill-height"  fluid>
    <v-row align="center" justify="center">
      <v-col cols="12" sm="8" md="6">
        <v-card shaped class="px-4">
          <v-list-item >
            <v-list-item-content>
              <v-list-item-title class="headline mb-1">Confirm Registration</v-list-item-title>
            </v-list-item-content>

            <v-list-item-avatar tile size="80" ><v-icon large>mdi-account-check-outline</v-icon></v-list-item-avatar>
          </v-list-item>
          <v-card-text>
            <div class="subtitle-1 pt-3 pb-3 mb-3 pl-3 accent-1 black--text">{{registrationMessage}}</div>
            <div class="subtitle-1 pt-3 pb-3 mb-3 pl-3 red accent-1 black--text" v-show="confirmErrorMessage.length > 0">{{confirmErrorMessage}}</div>
          </v-card-text>
          <v-card-actions>
            <v-btn color="primary" @click="doOk()">Ok</v-btn>
          </v-card-actions>
        </v-card>
      </v-col>
    </v-row>
  </v-container>
</template>

<script  lang='ts'>

import { Prop, Vue } from 'vue-property-decorator';
import Component from 'vue-class-component';
import axios from 'axios';

@Component({ name: 'OgvRegisterConfirmation' })
export default class OgvRegisterConfirmation extends Vue {

  @Prop({ default: null }) registrationId: string | null | undefined;

  registrationMessage = '';
  confirmErrorMessage = '';

  mounted () {
    this.confirmRegistration();
  }

  doOk () {

    this.$router.push('/');
  }

  confirmRegistration (): void {

    axios.put('api/auth/' + 'confirmRegistration/' + this.registrationId)
      .then(data => {
        this.registrationMessage = 'Registration erfolgreich durchgeführt';
      })
      .catch(error => {
        if (error.response && error.response.data) {
          if (error.response.data.message) {
            this.confirmErrorMessage = 'Registrierung ungültig';
          } else {
            this.confirmErrorMessage = 'Registrierung ungültig';
          }
        } else if (error) {
          this.confirmErrorMessage = 'Registrierung ungültig';
        } else {
          this.confirmErrorMessage = 'Registrierung ungültig';
        }
        this.$emit('ogv-notification', 'Registrierung fehlgeschlagen');
      });
  }
}
</script>
