<template>

  <v-container class="fill-height"  fluid>
    <v-row align="center" justify="center">
      <v-col cols="12" sm="8" md="6">
        <v-card shaped class="px-4">
          <v-list-item >
            <v-list-item-content>
              <v-list-item-title class="headline mb-1">Neues Passwort</v-list-item-title>
            </v-list-item-content>

            <v-list-item-avatar tile size="80" ><v-icon large>mdi-account-check</v-icon></v-list-item-avatar>
          </v-list-item>
          <v-card-text>
            <v-form ref="resetForm" v-model="resetValid" lazy-validation>
              <v-text-field v-model="password" :append-icon="showPassword ? 'mdi-eye' : 'mdi-eye-off'"
                            :rules="[rules.required, rules.min]" :type="showPassword ? 'text' : 'password'" name="input-10-1"
                            label="Password" hint="At least 8 characters" counter @click:append="showPassword = !showPassword"></v-text-field>
              <v-text-field v-model="verify" :append-icon="showVerify ? 'mdi-eye' : 'mdi-eye-off'"
                            :rules="[rules.required, passwordMatch]" :type="showVerify ? 'text' : 'password'" name="input-10-1"
                            label="Confirm Password" counter @click:append="showVerify = !showVerify"></v-text-field>
              <div class="subtitle-1 pt-3 pb-3 mb-3 pl-3 red accent-1 black--text" v-show="confirmErrorMessage.length > 0">{{confirmErrorMessage}}</div>
            </v-form>
          </v-card-text>
          <v-card-actions>
            <v-btn color="primary" @click="doReset()">Ok</v-btn>
          </v-card-actions>
        </v-card>
      </v-col>
    </v-row>
  </v-container>
</template>

<script  lang='ts'>

import { Prop, Vue } from 'vue-property-decorator';
import Component from 'vue-class-component';
import axios from 'axios';
import { ResetPasswordRequest } from '@/services/auth.service';

@Component({ name: 'OgvResetPassword' })
export default class OgvResetPassword extends Vue {

  @Prop({ default: null }) resetId: string | null | undefined;

  resetValid=true;

  password= '';
  verify= '';
  registrationMessage = '';
  confirmErrorMessage = '';
  showPassword= false;
  showVerify= false;
  rules= {
    required: (value :any) => !!value || 'Required.',
    min: (v :any) => (v && v.length >= 8) || 'Min 8 characters'
  };

  doOk () {

    this.$router.push('/');
  }

  get passwordMatch () {
    return () => this.password === this.verify || 'Password must match';
  }

  doReset () {
    // @ts-ignore
    if (this.$refs.resetForm.validate() && this.resetId) {
      this.confirmReset({ password: this.password, resetId: this.resetId });
    }
  }

  confirmReset (aResetRequest: ResetPasswordRequest): void {

    const requestObj = Object.assign({}, aResetRequest);
    axios.put('api/auth/' + 'resetPassword/', requestObj)
      .then(data => {
        this.registrationMessage = 'Zurücksetzen des Paswords erfolgreich durchgeführt';
      })
      .catch(error => {
        if (error.response && error.response.data) {
          if (error.response.data.message) {
            this.confirmErrorMessage = 'Zurücksetzen des Paswords ist fehlgeschlagen';
          } else {
            this.confirmErrorMessage = 'Zurücksetzen des Paswords ist fehlgeschlagen';
          }
        } else if (error) {
          this.confirmErrorMessage = 'Zurücksetzen des Paswords ist fehlgeschlagen';
        } else {
          this.confirmErrorMessage = 'Zurücksetzen des Paswords ist fehlgeschlagen';
        }
        this.$emit('ogv-notification', 'Fehler beim Zurücksetzen des Paswords');
      });
  }
}
</script>
