<template>
  <v-container class="fill-height"  fluid>
    <v-row align="center" justify="center">
      <v-col cols="12" sm="8" md="6">
        <v-card shaped class="px-4">
          <v-list-item >
            <v-list-item-content>
              <v-list-item-title class="headline mb-1">Passwort vergessen?</v-list-item-title>
            </v-list-item-content>

            <v-list-item-avatar tile size="80" ><v-icon large>mdi-account-cancel</v-icon></v-list-item-avatar>
          </v-list-item>
           <v-card-text>
              <v-form ref="requestForm" v-model="loginValid" lazy-validation>
                  <v-text-field v-model="loginEmail" :rules="loginEmailRules" label="E-mail" required></v-text-field>
                  <div class="pt-3 pb-3 mb-3 pl-3 red accent-1" v-show="requestErrorMessage.length > 0">{{requestErrorMessage}}</div>
              </v-form>
            </v-card-text>
          <v-card-actions>
            <v-btn :disabled="!loginValid" color="success" @click="doRequest">Anfordern</v-btn>
          </v-card-actions>
          </v-card>
      </v-col>
    </v-row>
  </v-container>

</template>

<script  lang='ts'>
// https://www.codeply.com/p/hBkZaWgmnk
import { Prop, Vue } from 'vue-property-decorator';
import Component from 'vue-class-component';
import axios from 'axios';
import { SignupRequest } from '@/services/auth.service';

@Component({ name: 'OgvRequestPassword' })
export default class OgvRequestPassword extends Vue {

  loginValid= true;
  loginEmail= '';
  loginEmailRules= [
    (v :any) => !!v || 'Required',
    (v :any) => /.+@.+\..+/.test(v) || 'E-mail must be valid'
  ];

  rules= {
    required: (value :any) => !!value || 'Required.',
    min: (v :any) => (v && v.length >= 8) || 'Min 8 characters'
  };

  requestErrorMessage= '';

  doRequest () {

    this.requestErrorMessage = '';
    // @ts-ignore
    if (this.$refs.requestForm.validate()) {
      this.request(this.loginEmail);
    }
  }

  request (anEmail: string) {
    axios.put('api/auth/' + 'requestPassword/' + anEmail)
      .then(data => {
        this.requestErrorMessage = 'Ihnen wurde eine E-Mail zugesandt.Bitte prüfen Sie Ihren Posteingang';
      })
      .catch(error => {
        if (error.response && error.response.data) {
          if (error.response.data.message) {
            this.requestErrorMessage = 'Fehler beim Anfordern';
          } else {
            this.requestErrorMessage = 'Fehler beim Anfordern';
          }
        } else if (error) {
          this.requestErrorMessage = 'Fehler beim Anfordern';
        } else {
          this.requestErrorMessage = 'Fehler beim Anfordern';
        }
        this.$emit('ogv-notification', 'Fehler beim Anfordern');
      });
  }

};
</script>
