<template>
  <div>
    {{ fieldLabelComputed }}
    <v-img :src="fieldValue" aspect-ratio="1.7"></v-img>
  </div>
</template>

<script lang='ts'>

import { Prop, Vue } from 'vue-property-decorator';
import Component from 'vue-class-component';
import { JdyPrimitiveAttributeInfo } from '@jdynameta/jdy-base';

@Component({
  name: 'JdyImageField',
  components: {}
})
export default class JdyImageField extends Vue {

  @Prop({ default: null }) primAttr: JdyPrimitiveAttributeInfo | null | undefined;
  @Prop() itemToEdit;
  // property to get/set the value from the itemToEdit, when null use this.primAttr.getInternalName()
  @Prop({ default: null }) valueProperty: string | null | undefined;

  get fieldValue () {
    let val = '';
    if (this.valueProperty) {
      val = (this.itemToEdit) ? this.itemToEdit[this.valueProperty] : '';
    } else {
      val = (this.itemToEdit && this.primAttr) ? this.itemToEdit[this.primAttr.getInternalName()] : '';
    }
    return 'data:image/jpg;base64,' + val;
  }

  set fieldValue (val) {
    if (this.valueProperty) {
      this.itemToEdit[this.valueProperty] = val;
    } else if (this.itemToEdit && this.primAttr) {
      this.itemToEdit[this.primAttr.getInternalName()] = val;
    }
  }


  get fieldLabelComputed () {
    let required = (this.primAttr && this.primAttr.getNotNull()) ? '*' : '';
    return (this.primAttr) ? this.$t(this.primAttr.i18n) + required : '';
  };
};
</script>
