<template>
  <v-container class="fill-height"  fluid>
    <v-row align="center" justify="center">
      <v-col cols="12" sm="8" md="6">
        <v-card class="mx-auto" outlined>
          <v-list-item three-line>
            <v-list-item-content>
              <div class="overline mb-4">Obst- und Gartenbauverein Schießen</div>
              <v-list-item-title class="headline mb-1">OGV Schießen Editor</v-list-item-title>
              <v-list-item-subtitle>Editor zur Pflege der Homepage des OGV Schießen</v-list-item-subtitle>
            </v-list-item-content>

            <v-img
              src="logo_ogv.svg"
              aspect-ratio="1"
              max-width="500"
              max-height="300"
            ></v-img>
          </v-list-item>
        </v-card>
      </v-col>
    </v-row>
  </v-container>
</template>

<script lang="ts">
import { Vue } from 'vue-property-decorator';
import Component from 'vue-class-component';

@Component({ name: 'Home' })
export default class Home extends Vue {

};
</script>
