<template>
  <v-app id="inspire">
    <v-snackbar v-model="showNotification" color='info' :top='true' :multi-line=true :timeout='6000' >
      {{ notificationMessage }}
      <v-btn dark text @click="showNotification = false">Close</v-btn>
    </v-snackbar>

    <v-navigation-drawer v-model="drawer" app>
      <v-list dense>
        <v-list-item link href="#/">
          <v-list-item-action> <v-icon>mdi-home</v-icon> </v-list-item-action>
          <v-list-item-content> <v-list-item-title>Home</v-list-item-title> </v-list-item-content>
        </v-list-item>
        <v-list-item link  href="#/profile">
          <v-list-item-action> <v-icon>mdi-face-profile</v-icon>  </v-list-item-action>
          <v-list-item-content> <v-list-item-title>Profile</v-list-item-title> </v-list-item-content>
        </v-list-item>
        <v-list-item link  href="#/events">
          <v-list-item-action> <v-icon>mdi-calendar-edit</v-icon>  </v-list-item-action>
          <v-list-item-content> <v-list-item-title>Edit Events</v-list-item-title> </v-list-item-content>
        </v-list-item>
        <v-list-item link  href="#/news">
          <v-list-item-action> <v-icon>mdi-calendar-edit</v-icon>  </v-list-item-action>
          <v-list-item-content> <v-list-item-title>Edit News</v-list-item-title> </v-list-item-content>
        </v-list-item>
        <v-list-item link  href="#/admin">
          <v-list-item-action> <v-icon>mdi-contact-mail</v-icon>  </v-list-item-action>
          <v-list-item-content> <v-list-item-title>Admin</v-list-item-title> </v-list-item-content>
        </v-list-item>
        <v-list-item link  href="#/mod">
          <v-list-item-action> <v-icon>mdi-contact-mail</v-icon>  </v-list-item-action>
          <v-list-item-content> <v-list-item-title>Moderator</v-list-item-title> </v-list-item-content>
        </v-list-item>
        <v-list-item link  href="#/user">
          <v-list-item-action> <v-icon>mdi-contact-mail</v-icon>  </v-list-item-action>
          <v-list-item-content> <v-list-item-title>User</v-list-item-title> </v-list-item-content>
        </v-list-item>
        <v-list-item link  href="#/public">
          <v-list-item-action> <v-icon>mdi-contact-mail</v-icon>  </v-list-item-action>
          <v-list-item-content> <v-list-item-title>Public</v-list-item-title> </v-list-item-content>
        </v-list-item>
      </v-list>
    </v-navigation-drawer>

    <v-app-bar app color="white" collapse-on-scroll  src="background_app_bar1.JPG">
      <v-app-bar-nav-icon @click.stop="drawer = !drawer" />
      <v-spacer></v-spacer>
      <v-toolbar-title class="white--text font-weight-bold">OGV Homepage</v-toolbar-title>
      <v-spacer></v-spacer>
      <v-btn outlined fab small @click="gotoLogin()">
        <v-icon>mdi-account</v-icon>
      </v-btn>
    </v-app-bar>

    <v-content>
      <router-view @ogv-notification="doNotification"></router-view>
    </v-content>

    <v-footer app color="primary">
      <span class="white--text">&copy; 2019</span>
    </v-footer>
  </v-app>
</template>

<script lang="ts">

import Vue from 'vue';

export default Vue.extend({
  name: 'App',

  data: () => ({
    drawer: null,
    loginDialogVisible: false,
    showNotification: false,
    notificationMessage: ''
  }),

  methods: {
    gotoLogin () {
      this.$router.push('/login');
    },
    doNotification (value: string) {
      this.showNotification = true;
      this.notificationMessage = value;
    }
  }
});
</script>
